<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' pk=request.user.profile.pk %}">{{ request.user.first_name }}'s Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'matches' %}">Your matches</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>