{% extends 'users/base.html' %}

{% block title %}Profile Page{% endblock %}

{% block content %}
    <img src="{{ object.avatar.url }}" alt="" width="125" height="125">
    <h1>{{ object.user.first_name }}'s Profile</h1>
    <p>Description: {{ object.description }}</p>
    <p>Gender: {{ object.gender }}</p>
    <p>Age: {{ object.get_age }}</p>
    {% if request.user.profile == object %}
        <small><a href="{% url 'update-profile' pk=request.user.profile.pk %}">Update profile</a></small>
    {% else %}
        <p><a href="{% url 'create_message' receiver_id=object.user.id %}">Chat</a></p>
    {% endif %}
{% endblock %}